html {
    background: $white;
    height: 100%;
}
body {
    margin: 0.75em;
    min-height: 100%;
		background: $black;
		color: $white;
		font-family: helvetica;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    @media (min-width: 36em) /* 576 */ {
  		margin: 1em;
  	}
  	@media (min-width: 48em) /* 768 */ {
  		margin: 1.25em;
  	}
    margin: 0 !important;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $primary-light;
  }
}

header {
  padding: 2em 1em 1em;
  @media (min-width: 36em) /* 576 */ {
    padding: 4em 1.5em 2em;
  }
  @media (min-width: 48em) /* 768 */ {
    padding: 6em 4em 2em;
  }

  p {
    margin: 0;
  }
}

main, footer {
	max-width: 520px;
	margin: 0;
}

main, footer {
	padding: 0 1em;
  @media (min-width: 36em) /* 576 */ {
    padding: 0 1.5em;
  }
  @media (min-width: 48em) /* 768 */ {
    padding: 0 4em;
  }

}

h1, p {
	font-size: 1.2em;
	font-family: $display;
	font-weight: normal;
	line-height: 1.4;
  letter-spacing: -0.02em;
	margin: 0.75em 0;
  @media (min-width: 36em) /* 576 */ {
    font-size: 1.5em;
  }
}

h1 {
  letter-spacing: -0.04em;
  margin-bottom: 0;
}

/* --- Sign Up --- */
#mc_embed_signup form {
  margin-top: 1.25em;
  width: 100%;
  display: block;
  max-width: 45em;
  @media (min-width: 36em) /* 576 */ {
    margin-top: 2em;
  }
}

#mc_embed_signup .mc-field-group {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  @media (min-width: 30em) /* 576 */ {
    display: inline-block;
    width: 72%;
  }
}

#mc_embed_signup .mc-field-group input {
    width: 100%;
    margin: 0;
    padding: .65em 0;
    font-size: 1em;
    font-family: $display;
    letter-spacing: -0.02em;
    line-height: 1.4;
    text-indent: 4%;
    color: $black;
    background-color: $white;
    @media (min-width: 30em) /* 480 */ {
    }
    @media (min-width: 36em) /* 576 */ {
      font-size: 1.2em;
    }
}

#mc_embed_signup input {
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    clear: both;
    @media (min-width: 30em) /* 576 */ {
      width: 68%;
    }
}

#mc_embed_signup div.response {
    margin: 0 0 1.5em 0;
    padding: 0;
    padding-top: 0.5em;
    font-weight: normal;
    line-height: 1.4;
    float: left;
    top: 0;
    z-index: 1;
    width: 100%;
    a {
    	color: $primary;
    	text-decoration: none;
    }
}

#mc_embed_signup #mce-success-response {
    color: $white;
    display: none;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	  display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    background-color: transparent;
    border-radius: 0;
    font-size: 0.9em;
    font-weight: normal;
    z-index: 1;
    color: $primary;
    @media (min-width: 48em) /* 768 */ {
      padding-top: 1em;
      font-size: 16px;
    }

}

#mc_embed_signup .button {
    background-color: $primary;
    font-size: 1em;
    font-family: $display;
    letter-spacing: -0.02em;
    line-height: 1.4;
    border-radius: 0;
    transition: all 0.23s ease-in-out 0s;
    color: $black;
    cursor: pointer;
    height: auto;
    padding: .65em 1em;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    -webkit-appearance: none;
    &:hover {
    	background-color: $primary-light;
    }
    @media (min-width: 30em) /* 480 */ {
      display: inline-block;
      width: 26%;
      margin-top: 0;
      padding: .65em 0;
    }
    @media (min-width: 36em) /* 576 */ {
      font-size: 1.2em;
    }
}

/* --- Quotes --- */

.quotes {
  margin-top: 7em;
}

footer {
  padding-top: 8em;
  padding-bottom: 2em;
  font-size: 0.9em;
}
