---
layout: home
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script>
    	fbq('track', 'CompleteRegistration');
  	</script>
    <header>
      <h1>Disquiet</h1>
      <p>A newsletter of beauty and optimism.</p>
    </header>
    <main>
      <p>Each month subscribers get a curated list of links on art, mental health, gender, philosophy and sociology. When we find ourselves in a state of unease, it’s important to find ways to let light&nbsp;in.</p>

      <p>Curious? Sign up to get next month’s issue.</p>
      {% include sign-up.html %}

      <!-- <div class="quotes">
        <p>“A monthly salve to the 24 hour news cycle.”<br/> —Grace Glendinning</p>
        <p>“The one email I actually look forward to reading.”<br/> —Callum Jeffries</p>
        <p>“Always unexpected, always enlightening”<br/> —Kevin Braddock</p>
      </div> -->

    </main>

    {% include footer.html %}
  </body>
</html>
